.title {
    color: green;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dotted 2px white;
}
.google {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    color: green;
}
.image {
    width: 100%;
    height: auto;
    max-width: 600px;
}

/* tablet second */
@media only screen and (min-width: 600px) {

    h1{
        color:orange;
    }

    .image{
        max-width: 400px;
    }
}

/* desktop last */
@media only screen and (min-width: 1000px) {

    h1{
       color:red;
    }
}